.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--section-wrapper-mb);
}
.left {
  display: flex;
  flex-direction: column;
  max-width: 810px;
}
.nav {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 2px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: ">";
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    &:nth-child(2) {
      li {
        padding-right: 6px;
      }
    }
    &:last-child {
      li {
        font-weight: 700;
      }
      &::after {
        content: "";
      }
    }
  }
}
.navList {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #707070;
  padding: 0 2px;
  letter-spacing: 0.5px;
}
.title {
  font-size: 42px;
  line-height: 54px;
  font-weight: 900;
  background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
.infoText {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--article-text-color);
  margin-bottom: 60px;
}
.infoArticles {
  display: flex;
  flex-direction: column;
}
.titleInfo {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--article-text-color);
  padding: 3px 0 17px 10px;
  margin-bottom: 20px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 46px;
    height: 8px;
    border-radius: 20px;
    background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
    bottom: 0;
    left: 10px;
  }
}
.infoItems {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.infoItem {
  margin-right: 16px;
  margin-bottom: var(--article-infoItem-mb);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--article-item-bxshadow);
  background: var(--article-item-bg);
}
.infoItem:nth-child(2n) {
  margin-right: 0;
}
.infoItem:nth-child(n + 3) {
  margin-bottom: 0;
}
.itemImg {
  border-radius: 20px;
  width: 347px;
  height: 171px;
  margin-bottom: 18px;
}
.infoTitle {
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #2a86e5;
  margin-bottom: 10px;
  text-align: center;
}
.textInfo {
  display: flex;
  align-items: center;
}
.userWrapper {
  display: flex;
  align-items: center;
  margin-right: 22px;
  &:last-child {
    margin-right: 0;
  }
}
.infoUser {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--article-info-color);
  padding-left: 5px;
}

.image {
  width: 300px;
  height: 600px;
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 20px;
  }
  .infoItems {
    padding: 0;
  }
  .infoItem {
    margin-right: 28px;
    margin-bottom: 20px;
  }
  .image {
    display: none;
  }
  .itemImg {
    width: 310px;
  }
  .infoTitle {
    max-width: 310px;
    margin-bottom: 6px;
  }
  .titleInfo {
    bottom: 3px;
  }
}

@media (max-width: 380px) {
  .wrapper {
    margin: 0 15px;
  }
  .nav {
    flex-wrap: wrap;
  }
  .title {
    font-size: 35px;
    line-height: 130%;
    text-align: center;
  }
  .infoText {
    margin-bottom: 65px;
  }
  .titleInfo {
    margin-bottom: 17px;
    &::after {
      width: 44px;
    }
  }
  .itemImg,
  .infoItem:nth-child(n + 3) {
    margin-bottom: 20px;
  }
  .infoItem {
    margin-right: 0;
  }
}
